.term {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center !important;
  justify-content: space-around !important;
}

.cards_1 {
  display: flex-start;
  height: max-content;
  width: 350px;
  align-items: center !important;
  justify-content: space-around !important;
  padding: 30px;
}

.phoneoutline {
  margin-left: 5% !important;
}

@media screen and (max-width: 768px) {
  .cards_1 {
    height: max-content;
    width: 100%;
    align-items: center !important;
    justify-content: space-around !important;
  }
}

@media screen and (max-width: 1100px) and (min-width: 767px) {
  .cards_1 {
    height: max-content;
    width: 270px;
    align-items: center !important;
    justify-content: space-around !important;
  }
}
